{% extends "base.html" %}

{% block title %}MPR Softball - Home{% endblock %}

{% block init %}<body onLoad="initialize()">{% endblock %}

{% block script %}<script src="/static/javascripts/dir.js"></script>{% endblock %}

{% block upper_right_panel %}
    <strong>Rice Rec Center weather</strong><br>
    Temp: {{ current_temp }}F<br>
    Skies: {{ sky }}<br>
    Wind: {{ dir }} {{ wind_mph }} mph<br>
    <br>
    <strong>{{ period1 }}:</strong> {{ fcst1|truncatewords:20 }}<br><br>
	<a href="#" class="button" data-reveal-id="wxModal" width=100% >More weather</a>

{% endblock %}

{% block content %}
<div class="row">
  <div class="nine columns">
	{% if content_list %}
		{% for item in content_list %}
		  {% if item.published %}
			<h3>{{ item.title  }}</h3>
			{{  item.content|safe  }}
		  {% endif %}
		{% endfor %}
	{% else %}
		<p>Problem with content list.</p>
	{% endif %}
  </div>
  <div class="three columns">
  {% if played_games_list %}
    <h5>Latest score</h5>
    {% with played_games_list|first as latest_game %}
      {% if latest_game.scoreMPR >= 0 and latest_game.scoreOPP >= 0 %}
		  {% if latest_game.scoreMPR > latest_game.scoreOPP %}
			<strong>MPR {{ latest_game.scoreMPR }}</strong> {{ latest_game.opponent }} {{ latest_game.scoreOPP }}
		  {% else %}
			MPR {{ latest_game.scoreMPR }} <strong>{{ latest_game.opponent }} {{ latest_game.scoreOPP }}</strong>    
		  {% endif %}
	  {% else %}
	      {{ latest_game.DateTime|date:"N j" }}: vs. {{ latest_game.opponent }} N/A
	  {% endif %}
    {% endwith %}    
  {% endif %}
  <hr>
  <h5>Upcoming games:</h5>
	{% if latest_games_list %}
		<ul class="accordion">
		{% for game in latest_games_list %}
		  
			{% if forloop.first %}
			<li class="active">
			  <div class="title">
			    <h5>{{ game.DateTime|date:"N j, P" }}</h5>
			    <strong>At {{game.location}} vs. {{game.opponent}}</strong><br>
			  </div>
			  <div class="content">
			    <strong>Roster:</strong><br>
			    {% for player in game.players.all %}
				    {{player}}<br>
			    {% endfor %}
			  </div>
			</li>
			{% else %}
			<li>
			  <div class="title">
			    <h5>{{ game.DateTime|date:"N j, P" }}</h5>
			    <strong>At {{game.location}} vs. {{game.opponent}}</strong><br>
			  </div>
			  <div class="content">
			    <strong>Roster:</strong><br>
			    {% for player in game.players.all %}
				    {{player}}<br>
			    {% endfor %}
			  </div>
			</li>
			</li>
		{% endif %}
		{% endfor %}
		</ul>

		{% else %}
			<p>No games are scheduled.</p>
		{% endif %}
	{% if photos %}
	{% load static %}
	{% get_media_prefix as MEDIA_PREFIX %}
	  <h5>From the Photo Gallery:</h5>
	  {% with pic=photos|random %}
	  	  <a href="/photos/"><img src="{{ MEDIA_PREFIX }}{{ pic.image }}"></a>
	  {% endwith %}
	{% endif %}
	<a class="large button" href="/directions.html">Directions to field</a>
	
	<a class="large button" href="https://www.facebook.com/pages/MPR-Softball/103512325990?ref=ts&fref=ts" target="_blank"><strong>Follow on </strong><br><img alt="Facebook" src="/static/images/facebook.png"></a>

  </div>
</div>

<!-- Weather modal -->

<div id="wxModal" class="reveal-modal [expand, xlarge, large, medium, small]">
  <strong>Rice Rec Center weather</strong><br>
    Temp: {{ current_temp }}F<br>
    Skies: {{ sky }}<br>
    Wind: {{ dir }} {{ wind_mph }} mph<br>
    <br>
    <strong>{{ period1 }}:</strong> {{ fcst1 }}<br>
    <strong>{{ period2 }}:</strong> {{ fcst2 }}<br>
    <strong>{{ period3 }}:</strong> {{ fcst3 }}<br>    
    <a class="close-reveal-modal">×</a>
</div>


{% endblock %}

{% block games %}


{% endblock %}
