{% extends "base.html" %}

{% block title %}MPR Softball - Photo Gallery{% endblock %}

{% block upper_right_panel %}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}

{% block content %}
    <div class="row">
      <div class="twelve columns">
		{% if content_list %}
			{% for item in content_list %}
				<h3>{{ item.title  }}</h3>
				{{  item.content|safe  }}
			{% endfor %}
		{% else %}
			<p>Problem with content list.</p>
		{% endif %}
  </div>
    
    
{% endblock %}

