{% extends "base.html" %}

{% block title %}MPR Softball - Current Season{% endblock %}

{% block script %}

{% endblock %}


{% block upper_right_panel %}
{% if current_season %}
    <h4>Season record:</h4>
    <h4>{{ wins }} - {{ losses }}{% if ties %} - {{ ties }}{% endif %}</h4>
    <h5>Franchise record:</h5>
    <h5>{{ pastWins.wins__sum }} - {{ pastLosses.losses__sum }} - {{ pastTies.ties__sum }}</h5>
{% else %}
    <h4>Season record:</h4>
    <h4>{{ wins }} - {{ losses }}{% if ties %} - {{ ties }}{% endif %}</h4>
    <h5>Franchise record:</h5>
    <h5>{{ pastWins.wins__sum|add:wins }} - {{ pastLosses.losses__sum|add:losses }} - {{ pastTies.ties__sum|add:ties }}</h5>
{% endif %}
{% endblock %}

{% block content %}
	<div class="row">
	  <div class="twelve columns">
		{% if content_list %}
			{% for item in content_list %}
				<h3>{{ item.title  }}</h3>
				{{  item.content|safe  }}
			{% endfor %}
		{% else %}
			<p>Problem with content list.</p>
		{% endif %}
	  </div>
	</div>

	<div class="row">
	    <div class="four columns">
	    <h4>Scores</h4>
	    <hr>
			{% if played_games_list %}
			  {% for game in played_games_list %}
				<ul>
				{% if game.scoreMPR >= 0 and game.scoreOPP >= 0 %}
					{% if game.scoreMPR > game.scoreOPP %}
					  <li>{{ game.DateTime|date:"N j" }}: <strong>MPR {{ game.scoreMPR }}</strong> {{ game.opponent }} {{ game.scoreOPP }}
					{% else %}
					  <li>{{ game.DateTime|date:"N j" }}: MPR {{ game.scoreMPR }} <strong>{{ game.opponent }} {{ game.scoreOPP }}</strong>    
					{% endif %}
				{% else %}
				    <li>{{ game.DateTime|date:"N j" }}: vs. {{ game.opponent }} N/A</li>
				{% endif %}
				</ul>
			  {% endfor %}
			{% else %}
			  No games
			{% endif %}
		</div>
		<div class="four columns">
		<h4>Leaders</h4>
		<hr>
		<h6>Batting average</h4>
		{% with totals|dictsortreversed:"avg" as leaders_avg %}
		  <table>
			{% for item in leaders_avg %}
				{% if item.avg >= leaders_avg.2.avg and item.avg != 0 %}
				  <tr>
					<td>{{ item.name }}</td><td>{{ item.avg|floatformat:3 }}</td>
				  </tr>
				{% endif %}
			{% endfor %}
		  </table>
		{% endwith %}
		<h6>Runs batted in</h4>
		{% with totals|dictsortreversed:"rbi" as leaders_rbi%}
		  <table>
			{% for item in leaders_rbi %}
				{% if item.rbi >= leaders_rbi.2.rbi and item.rbi != 0 %}
				  <tr>
					<td>{{ item.name }}</td><td>{{ item.rbi }}</td>
				  </tr>
				{% endif %}
			{% endfor %}
		  </table>
		{% endwith %}
		<h6>Home runs</h4>
		{% with totals|dictsortreversed:"hr" as leaders_hr%}
		  <table>
			{% for item in leaders_hr %}
				{% if item.hr >= leaders_hr.2.hr and item.hr != 0 %}
				  <tr>
					<td>{{ item.name }}</td><td>{{ item.hr }}</td>
				  </tr>
				{% endif %}
			{% endfor %}
		  </table>
		{% endwith %}
		</div>
		<div class="four columns">
		  <h4>Upcoming games</h4>
		  <hr>

			{% if latest_games_list %}
				<ul class="accordion">
				{% for game in latest_games_list %}
				  
					{% if forloop.first %}
					<li class="active">
					  <div class="title">
					    <h5>{{ game.DateTime|date:"N j, P" }}</h5>
					    <strong>At {{game.location}} vs. {{game.opponent}}</strong><br>
					  </div>
					  <div class="content">
					    <strong>Roster:</strong><br>
					    {% for player in game.players.all %}
						    {{player}}<br>
					    {% endfor %}
					  </div>
					</li>
					{% else %}
					<li>
					  <div class="title">
					    <h5>{{ game.DateTime|date:"N j, P" }}</h5>
					    <strong>At {{game.location}} vs. {{game.opponent}}</strong><br>
					  </div>
					  <div class="content">
					    <strong>Roster:</strong><br>
					    {% for player in game.players.all %}
						    {{player}}<br>
					    {% endfor %}
					  </div>
					</li>
					</li>
					
					{% endif %}
				  
				{% endfor %}
				</ul>
		  
			{% else %}
				<p>No games are scheduled.</p>
			{% endif %}

		</div>
    </div>
    
    
{% endblock %}

