{% extends "base.html" %}

{% block title %}MPR Softball - Prior Seasons{% endblock %}

{% block upper_right_panel %}
<h4>Franchise record:</h4>
<h4>{{ pastWins.wins__sum|add:wins }} - {{ pastLosses.losses__sum|add:losses }} - {{ pastTies.ties__sum|add:ties }}</h4>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="twelve columns">
		{% if content_list %}
			{% for item in content_list %}
				<h3>{{ item.title  }}</h3>
				{{  item.content|safe  }}
			{% endfor %}
		{% else %}
			<p>Problem with content list.</p>
		{% endif %}
	</div>
  </div>
  <div class="row">
    <div class="one columns"></div>
      <div class="two columns">
        <ul>
          {% for season in seasons %}
            {% if forloop.counter|divisibleby:column_counts %}
            <li><a href="http://www.mprsoftball.org/season_detail/{{ season.year }}/">{{ season.year }}</a></li>
            </div>
            <div class="two columns">
            <ul>
            {% else %}
            <li><a href="http://www.mprsoftball.org/season_detail/{{ season.year }}/">{{ season.year }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>  
  </div>
    
    
{% endblock %}

